/*顶部导航栏*/
.top-nav{
	background: #eee;
}

.top-nav .item{
	display: inline-block;
	padding:6px 10px;
	color:#666;
}

.top-nav .item:hover{
	color:#FF5400;
}

/*头部*/
.header{
	padding:20px 0 ;
}

.header .logo{
	font-size: 30px;
}

.header .search-bar{
	border: 2px solid #FF5400;
	background: #FF5400;
}

.header .search-bar input,
.header .search-bar button{
	border: 0;
	padding: 10px;
	display: block;
	float: left;
	outline: 0; /*清除input被指着时变蓝*/
}

.header .search-bar button:hover{
	cursor:pointer;
}

.header .search-bar input{
	width: 80%;
}

.header .search-bar button{
	width:20%;
	background: #FF5400;
	color:#fff;
}

.header .cart{
	text-align:center;
}

.header .cart a{
	padding: 10px;
	border: 2px solid #ccc;
	float:right;
	width: 80%;
	color:#FF5400;
}

/*主促销区*/
.main-promote .cat{
	background: #999;
	color:#fff;
}

.main-promote .cat .item{
	padding: 14px 20px;
}

.main-promote .cat .item:hover {
	background: rgba(0,0,0,.5);
}

.main-promote .info{
	padding:10px;
	background: #fff;
	color: #777;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.1);
	box-shadow: 0 1px 2px rgba(0,0,0,.1);
}



.main-promote .info > * {
	margin-bottom:10px;
}


.main-promote .info .avatar{
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background: #aaa;
	float: left;
	margin-right: 10px;
}

/*子促销区*/

.cat-promote .title:before{
	content: " ";
	display: inline-block;
	vertical-align: middle;
	height: 30px;
	width: 5px;
	background: #FF5400;
	margin-right: 10px;
}

.cat-promote .title{
	font-size: 22px;
}

.cat-promote .item{
	padding:5px;
}

.cat-promote .card{
	height: 300px;
	background: #999;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.1);
	box-shadow: 0 1px 2px rgba(0,0,0,.1);
}

/*页脚*/
.footer{
	margin-top: 30px;
	padding: 30px 0;
	text-align: center;
	background: #eee;
	color: #999;
}

.footer a{
	color: #999
}